/* Light mode styles */
.navbar-light .navbar-nav .nav-link {
  margin-left: 10px;
  font-size: 1.1em;
  color: #000 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #007bff !important;
}

.navbar-light .navbar-nav .nav-dropdown .dropdown-menu {
  background-color: #ffffff;
}

.navbar-light .navbar-nav .nav-dropdown .dropdown-item {
  color: #000;
}

.navbar-light .navbar-nav .nav-dropdown .dropdown-item:hover {
  background-color: #f8f9fa;
}

/* Dark mode styles */
.navbar-dark .navbar-nav .nav-link {
  margin-left: 10px;
  font-size: 1.1em;
  color: #f8f9fa !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #f39c12 !important;
}

.navbar-dark .navbar-nav .nav-dropdown .dropdown-menu {
  background-color: #343a40;
}

.navbar-dark .navbar-nav .nav-dropdown .dropdown-item {
  color: #f8f9fa;
}

.navbar-dark .navbar-nav .nav-dropdown .dropdown-item:hover {
  background-color: #495057;
}

.theme-toggle-container {
  display: flex;
  align-items: center;
  margin-left: auto; /* מיקום בצד הימני של ה-Navigation Bar */
  padding-right: 20px; /* רווח מימין */
}

.theme-toggle-label {
  display: flex;
  align-items: center;
  position: relative;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  transition: background-color 0.3s;
}

.theme-toggle-switch {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  transition: left 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  color: #333;
}

.theme-toggle-checkbox {
  display: none;
}

.theme-toggle-checkbox:checked + .theme-toggle-label {
  background-color: #333;
}

.theme-toggle-checkbox:checked + .theme-toggle-label .theme-toggle-switch {
  left: 33px;
  color: #333;
}

.theme-toggle-text {
  margin-left: 10px;
  font-size: 0.9em;
  color: #333; /* צבע ברירת מחדל של הטקסט */
}

.theme-dark .theme-toggle-text {
  color: #fff; /* צבע הטקסט במצב כהה */
}
